


img {
  width: 30%;
}

h2, h3 {
  margin-bottom: 30px;
  color: black;
  font-family: Esteban, Georgia, 'Times New Roman', serif;
}

p {

  font-family: Esteban, Georgia, 'Times New Roman', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-transform: none;
  color: #2A292B;
    
}


#circle-shape p { 
  line-height: 1.8;
  margin-top: 30px;
  width: 70%;
  
}
#circle-shape .curve { 
  width: 20%; height: auto;
  min-width: 150px;
  float: left;
  margin-top: 20px;
  margin-right:2rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
  
}

.sidebar {
  width: 25%;
  float: right;
  border: 2px solid black;
  margin-top: -32%;
  padding: 10px;
}

.jumbotron h1 {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -6.5px;
  line-height: 130px;
  text-transform: none;
  color: rgb(0, 0, 0);
}

.jumbotron p {
  font-family: Esteban, Georgia, 'Times New Roman', serif;
  font-size: 26px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 35.0999984741211px;
  text-transform: none;
  color: #2A292B;
  }

  .jumbotron, .sidebar {
    background-color: rgb(245, 222, 179, 0.5);
  }

  .panel-info > .panel-heading-custom {
    background-color: rgb(245, 222, 179, 0.5);
  }